body {
    font-family: "Vegur";
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.header {
    background-image: url("images/header_bg.png");
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1080px;
    padding-top: 120px;
}

h1 {
    font-size: 202px;
    color: white;

}

.yellow-text {
    color: #ffc600;
}

.download-psd {
    color: #ffc600;
    display: block;
    margin-top: 20px;
    font-size: 18px;
}

.create {
    color: white;
    font-size: 60px;
    margin-top: 130px;
    display: block;
}

p {
    color: white;
    font-size: 18px;
}

.main-menu {
    display: flex;
    margin-top: 45px;
}

.main-menu li {
    margin-right: 30px;
}

.main-menu a {
    color: #ffc600;
    font-size: 18px;
    text-decoration: none;
}

.main-menu a:hover {
    color: white;
    text-decoration: underline;
    text-decoration-color: #ffc600;
}

.about {
    margin-top: 50px;
    margin-left: 135px;
    font-size: 70px;
    color: #717171;
}

.sublime {
    font-size: 80px;
    margin-left: 135px;
}

.text2 {
    margin-top: 20px;
    color: #595959;
    font-size: 15px;
}

.text3 {
    color: #595959;
    font-size: 10px;
    margin-top: 5px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column-50 {
    width: 50%;
}

.column-33 {
    width: 33.333%;


}

.column-25 {
    width: 25%;
}

.about-us-title {
    padding-top: 35px;
}

.about-us-item {
    text-align: center;
    padding: 0 40px;
    margin-top: 90px;
}

.about-us h4 {
    margin: 20px 0;
}

.about-us-items {
    padding: 0 125px;
    flex-wrap: nowrap;
}

.about-us {
    margin-bottom: 50px;
}

.featured-projects img {
    width: 100%;
}

h3 {
    font-weight: bold;
    font-size: 35px;
}

.secondary-container {
    width: 1050px;
    margin: 0 auto;

}
.third-container {
    width: 860px;
    margin:0 auto;

}
.zxc {
    margin-top: 45px;
}
.images-grid {
    margin-top: 25px;
    margin-bottom: 20px;

}

.menu-item {
    font-weight: bold;
    font-size: 9px;
    position: relative
}

.menu-item:hover::after {
    width: calc(100% - 20px);
    height: 1px;
    background-color: #ffc600;
    position: absolute;
    content: '';
    bottom: -2px;
    left: 50%;
    display: block;
    transform: translate(-50%, -50%);
}
.sp-text-column {
    padding: 45px 40px 15px;
}